h1{text-align: center;}
h1 {
    text-align: center;
}
p {
    text-align: left;
}
li {
    display: inline;
}

li {
    float: center;
}

a {
    display: block;
    padding: 10px;
    background-color: black;
}
ul {
    background-color: aliceblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}
.active {
    background-color: white;
}
li {
    border-right: 1px solid white;
}

li:last-child {
    border-right: none;
}

div.gallery {
    margin: 7px;
    border: 1px solid #ccc;
    float: center;
    width: 200px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 5px;
    text-align: center;
  }
